.container {
  width: 1440px;
  height: 900px;
  background: #9dbebb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.redsquare {
  height: 594px;
  width: 609px;
  background: #be0909;
  display: flex;
  flex-direction: column;
}

.yellowsquare {
  height: 594px;
  width: 345px;
  background: #ffb039;
}
.container img {
  position: absolute;
  top: 205px;
  right: 192px;
}

input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #9dbebb;
  background-color: #be0909;
}

input[type="email"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #9dbebb;
  background-color: #be0909;
}
label {
  margin-bottom: 39px;
  width: 111px;
  height: 21px;
  font-size: 18px;
}
label[for="messageregarding"] {
  width: 221px;
  height: 21px;
}
#email {
  width: 120px;
  margin-bottom: 22px;
}
#fname {
  width: 400px;
  margin-bottom: 22px;
}
#messageregarding {
  width: 120px;
  margin-bottom: 22px;
}
#message {
  width: 400px;
  margin-bottom: 22px;
}
::placeholder {
  color: #fdffff;
  letter-spacing: 0.3em;
}

form {
  margin-top: 64px;
  margin-left: 65px;
  color: azure;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #468189;
  width: 202px;
  height: 48px;
  border-radius: 50px;
  border: none;
  color: azure;
  align-self: center;
  transition-duration: 0.8s;
}
button:hover {
  background-color: #3834a6; /* Green */
  color: rgb(63, 190, 38);
}
